* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'EditorsNote';
  src: url('/fonts/Editor\'s Note-normal-400-100.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EditorsNote';
  src: url('/fonts/Editor\'s Note Light-italic-300-100.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EBEBE8;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

